@font-face {
    font-family: "mainfont";
    /*  font-family: 'Dosis', sans-serif;*/
    src: url(../../assets/fonts/Dosis.ttf);
    /*src: url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');*/
}

html {
    height: 100%;
}

html>*,
label {
    font-family: mainfont !important;
}

 :root {
    --bs-warning: #ebcc8c !important;
    /*  #ffb74d*/
    /**Paleta*/
    --color-1: #bc7a41;
    --color-2: #6a3d13;
    --color-3: #b61909;
    --color-4: #ebcc8c;
    --color-5: #070707;
    --color-6: #1b1b1c;
    --color-7: #141313;
    --color-8: #3c5510;
    --color-9: #37200a;
    --color-10: #75873a;
    --color-11: #1f0d06;
    --color-12: #e0b094;
    --color-13: #213704;
    --color-14: #7c6c5c;
    --color-15: #413c36;
}

.ftco-footer {
    /* padding: 7em 0; */
    padding: 3px;
    height: 50px !important;
}

.bg-warning {
    background-color: var(--bs-warning) !important;
}

.btn-warning {
    background-color: var(--bs-warning) !important;
}

.bg-orange-100 {
    background-color: #ffe5d0;
}

.bg-orange-200 {
    background-color: #fecba1;
}

.bg-orange-300 {
    background-color: #feb272;
}

.bg-orange-400 {
    background-color: #fd9843;
}

.bg-orange-500 {
    background-color: #fd7e14;
}

.bg-orange-600 {
    background-color: #ca6510;
}

.bg-orange-800 {
    background-color: #653208;
}

.bg-orange-900 {
    background-color: #331904;
}


/**Rojo**/

.bg-red-500 {
    background-color: #dc3545;
}

.bd-red-700 {
    background-color: #842029;
}

.bg-red-900 {
    background-color: #2c0b0e;
}


/**Sobre escribir **/

.bg-dark {
    background-color: var(--color-15) !important;
    border-radius: 8px;
    background-image: url(../../assets/images/bg-screen.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-y: bottom;
    background-position-x: right;
}

div>a i.fa-edit,
div>a i.fa {
    background-color: #ff0000;
    border-radius: 40px;
    padding: 5px;
    border: 1px solid black;
    color: white;
    transition: all .5s ease;
}

div>a i.fa:hover {
    border: 1px solid var(--color-3);
    box-shadow: 0 0 10px var(--color-3);
    background: linear-gradient( to bottom left, var(--color-3), var(--color-1));
}

.form-control:focus {
    box-shadow: 0 0 10px 5px var(--color-3) !important;
}